* {
  letter-spacing: 1px;
}

body {
  background-color: #11294a;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand,
.nav-link {
  color: #11294a;
}

.nav-item a:hover {
  color: #f6c443;
}

.lead {
  font-weight: 400;
  text-align: center;
  color: white;
}

#about {
  background-color: white;
  width: 100vw;
  letter-spacing: 0;
  margin: 5px;
  padding: 20px;
}

.beta {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 20px;
}

.subBeta {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

#callToAction {
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.textHeader {
  font-size: 30px;
  margin: 5px;
  text-align: left;
}

#spanContent {
  text-align: left;
  font-size: 12px;
  line-height: 0px;
}

#footer {
  background-color: white;
  width: 100%;
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
}

#footerright {
  text-align: right;
}
