* {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
  letter-spacing: 1px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: white;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand,
.nav-link {
  color: #11294a;
}

.nav-item a:hover {
  color: #f6c443;
}

.lead {
  font-weight: 600;
  color: #11294a;
}

#instructors {
  margin-top: 20px;
  background-color: white;
  color: #11294a;
}

.card-title {
  color: white;
}

.card {
  background-color: #11294a;
  height: 185px;
  box-shadow: 10px 10px rgba(201, 198, 198, 0.56);
}

h2 {
  color: black;
}

#map {
  width: 100%;
  justify-content: center;
}

#footer {
  /* position: fixed;
  bottom: 0; */
  background-color: white;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
}

#footerright {
  text-align: right;
}
