* {
  letter-spacing: 1px;
}

body {
  background-color: #11294a;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand,
.nav-link {
  color: #11294a;
}

.nav-item a:hover {
  color: #f6c443;
  cursor: pointer;
}

.carousel-caption {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
}

.carousel-caption div {
  display: table-cell;
  vertical-align: middle;
}

#middleBody {
  background-color: white;
  width: 100%;
  color: #11294a;
}

.container {
  text-align: left;
  justify-content: left;
}

.text-button {
  background-color: #f6c443;
  border-radius: 7px;
  padding: 0;
  margin: 0;
}

.trickcenter {
  position: absolute;
  top: 50%; /* 50% for perfect centering */
  left: 45%;
  transform: translate(-50%, -50%);
  letter-spacing: 0;
}

.frontText {
  font-size: 20px;
  margin-left: 80px;
  padding-left: 170px;
}

.overlay {
  display: grid;
  background-color: rgba(17, 41, 74, 0.45);
  text-align: left;
  justify-content: left;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

.supportText {
  font-size: 9px;
  text-align: left;
  justify-content: left;
}

.welcome {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.principal {
  font-style: italic;
  font-size: 10px;
  padding-top: 0;
  margin-top: 0;
}

.welcomeText {
  text-align: left;
  justify-content: left;
}

.principalPost {
  font-style: italic;
  font-size: 10px;
  padding-top: 0;
  margin-top: 0;
}

.principalName {
  font-weight: bold;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

hr {
  margin: 5px;
  padding: 0;
}

marquee {
  font-size: 16px;
}

.bottomText {
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer {
  background-color: white;
  width: 100%;
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
}

#footerright {
  text-align: right;
}
