* {
  @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
  letter-spacing: 1px;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #11294a;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-brand,
.nav-link {
  color: #11294a;
}

.nav-item a:hover {
  color: #f6c443;
}

.nav-item .active {
  color: #f6c443 !important;
}

.lead {
  font-weight: 400;
}

#instructors {
  background-color: #11294a;
  margin-top: 22px;
}

.card-title {
  color: #11294a;
}

.card-body {
  overflow: scroll;
}

.card {
  height: 390px;
}

h2 {
  color: #f6c443;
}

#footer {
  background-color: white;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  padding: 5px;
}

#footerright {
  text-align: right;
}
